<div class="row">
  <div class="col-1"></div>
  <div class="col-10 mt-5 auth">
    @if (isLoading()) {
    <div class="container"><app-loader /></div>
    } @if (inactiveProfile()) {
    <app-info
      (click)="inactiveProfile.set(false)"
      [header]="'ℹ️'"
      [title]="'Profil nieaktywny'"
      [content]="
        'Zgłoszenie aktywacji zostało skierowane do administratora aplikacji. Kolejne informacje otrzymasz na adres mailowy użyty podczas rejestracji'
      "
    />
    } @if(error()) {
    <app-info
      (click)="error.set(null)"
      [header]="'🚫'"
      [title]="'Coś poszło nie tak...'"
      [content]="error()"
    />
    } @if (!error() && !inactiveProfile() && !isLoading()) {
    <form (ngSubmit)="onSubmit()" [formGroup]="authForm">
      @if (type() === 'up') {
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Imię</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          value="default"
          formControlName="name"
        />
      </div>
      }
      <div class="mb-3">
        <label for="exampleInputEmail2" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail2"
          aria-describedby="emailHelp"
          formControlName="email"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Hasło</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          formControlName="password"
        />
      </div>
      <div class="mb-3 d-flex flex-wrap">
        <button
          type="submit"
          class="btn btn-outline-light mt-3 me-5"
          [ngClass]="{
            disabled:
              authForm.get('password')?.invalid ||
              authForm.get('email')?.invalid
          }"
        >
          {{ type() === "in" ? "Zaloguj" : "Utwórz konto" }}
        </button>
        <button
          type="button"
          class="btn btn-sm btn-dark mt-3"
          routerLink="/auth/{{ type() === 'up' ? 'in' : 'up' }}"
        >
          {{ type() === "up" ? "Zaloguj" : "Utwórz konto" }}
        </button>
      </div>
    </form>
    }
  </div>
  <div class="col-1"></div>
</div>
