<div class="container-fluid dashboard-container">
  <div class="row h-100">
    <!-- Sidebar -->
    <nav class="col-12 col-md-2 col-lg-2 bg-dark text-white p-3 d-flex flex-column overflow-auto">
      <div class="mb-4 d-flex justify-content-between">
        <h5 class="">Menu</h5>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12" />
        </svg>

      </div>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a class="nav-link text-white" href="#">Dashboard</a>
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link text-white" href="#">Zadania</a>
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link text-white" href="#">Ustawienia</a>
        </li>
      </ul>
    </nav>

    <!-- Main content -->
    <main class="col-12 col-md-10 col-lg-10 d-flex flex-column p-2">
      <div class="flex-fill d-flex flex-column">
        <div class="flex-fill mb-2">
          <div class="bg-light h-100 rounded shadow-sm p-3">
            <h5>Sekcja górna</h5>
          </div>
        </div>
        <div class="flex-fill">
          <div class="bg-light h-100 rounded shadow-sm p-3">
            <h5>Sekcja dolna</h5>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
